html[data-theme="dark"] {
    
    .tras-bg {
        background: rgba(255, 255, 255, .06);
    }
     .tras-bg-100 {
        background: rgba(255, 255, 255, .1);
    }
    .tras-bg-hover:hover {
        background: rgba(255, 255, 255, .07);
    }

    .text-muted {
        color: hsl(0, 0%, 70%);
    }
    .bg-light-100 {
        background: hsl(0, 0%, 10%);
    }
    .bg-light-150 {
        background: hsl(0, 0%, 15%);
    }
    .bg-light-200 {
            background: hsl(0, 0%, 20%);
        }
    .bg-light-300 {
            background: hsl(0, 0%, 30%);
        }
    .bg-light-400 {
            background: hsl(0, 0%, 40%);
        }
    .bg-light-500 {
            background: hsl(0, 0%, 50%);
    }
    .bg-light-400-hover:hover {
            background: hsl(0, 0%, 40%);
        }
    .bg-light-500-hover:hover {
            background: hsl(0, 0%, 50%);
    }
    .text-light-300 {
            color: hsl(0, 0%, 70%);
        }
    .text-light-100 {
            color: hsl(0, 0%, 90%);
        }
    .text-light-200 {
            color: hsl(0, 0%, 80%);
        }
    .text-light-400 {
            color: hsl(0, 0%, 40%);
        }
    .text-light-500 {
            color: hsl(0, 0%, 50%);
    }

}

html[data-theme="light"] {
    .tras-bg {
        background: rgba(255, 255, 255, .06);
    }
    .tras-bg-hover:hover {
        background: rgba(255, 255, 255, .07);
    }
    .text-muted {
        color: hsl(0, 0%, 30%);
    }
    .bg-light-100 {
        background: hsl(0, 0%, 90%);
    }
    .bg-light-200 {
            background: hsl(0, 0%, 80%);
        }
    .bg-light-300 {
            background: hsl(0, 0%, 70%);
        }
    .bg-light-400 {
            background: hsl(0, 0%, 50%);
    }
    .bg-light-500 {
            background: hsl(0, 0%, 40%);
    }
    .bg-light-400-hover:hover {
            background: hsl(0, 0%, 50%);
    }
    .bg-light-500-hover:hover {
            background: hsl(0, 0%, 40%);
    }
    .text-light-300 {
            color: hsl(0, 0%, 70%);
        }
    .text-light-400 {
            color: hsl(0, 0%, 50%);
    }
    .text-light-100 {
            color: hsl(0, 0%, 30%);
    }
    .text-light-500 {
            color: hsl(0, 0%, 40%);
    }
    
}